!!!
head
	title cavera.co
	meta(charset='UTF-8')
	meta(name='viewport',content='width=device-width; initial-scale=1.0; maximum-scale=1.0;')
	script(src='js/jquery-1.9.1.js')
	script(src='js/hittest.js')
	script(src='src/minified/TweenMax.min.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAARfBBFpkq1Ti3owLyKeO2WfA2UhwFUL8&sensor=false&extension=.js')

	link(rel="stylesheet", type="text/css", href="css/estilo.css")
body
	#map
	.wrapper
		.palabra
			.letra
				p c
			.letra
				p a
			.letra
				p v
			.letra
				p e
			.letra
				p r
			.letra
				p a
		.vinculos
			a.link.tw(href="http://twitter.com/cavera_de", target="_blank") @cavera_de
			a.link.fb(href="http://facebook.com/cavera", target="_blank") facebook.com/cavera
	include map

	script(type="text/javascript", src="js/script.js")
